body {
    font-family: 'Montserrat', sans-serif;
    /*background-image: url(imagenes/Fresh\ Farmhouse_\ Photo.jpg);*/
    margin: 0;
}
a{
    text-decoration: none;
    color:beige;
    font-size: 28px;
    margin: 0 0 0 15px;

}
a:hover{
    color:#DEB887 ;
    font-size: 32px;
}
h2{
    color: beige;
}
header{
    display:flex;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:  #3c3c3c;

}

.logo{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.logo img{
    margin-top: 20px;
    height: 50px;
    width: 90px;
    border-radius: 50%;
    border: 2px solid beige;
    margin: 10px ;
}


nav a:hover{
    color:#c78c19;
    text-decoration: none;
}
.logo img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 10px ;
}
.principal .titulo-principal{
    margin: 15px 60px;
    padding: 10px;
    background-color: opacity;
}



main {
    width: 940px;
    margin: 0 auto;
}
.demo{
    display: flex;
}

#afeitado_tradicional{
border: 3px solid black;
width:605px;
margin-top: -480px;
margin-left: 180px;
font-family:Serif;
color:white;
font-size: 70px;
text-shadow: 1px  0px 0px black,
0px  1px 0px black,
-1px  0px 0px black,
0px -1px 0px black;
}

/* CSS para nuestra home*/
div .banner{
    z-index: -1;
    display: flex;
    width: 500px;
    height:500px;
    margin-left:230px;
   /* margin-bottom: 14px;*/
   position: relative;
   
}

#barba{
    margin-left:-30px;
}

#barba2{
    margin-left:470px;
    margin-top:-500px;
}

div .banner p{
    position: absolute;
}

#first{
    margin-top: 30px;
}

.titulo-principal{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 6em;

    width: 50;
    clear: left; 
    font-weight: normal;
}
.principal p{
    margin:  0 0 3em;
    font-size: 25px;
    color: rgb(199, 195, 179);
   
}
.principal strong{
    font-weight: bold;
}
.principal em{
    font-style: italic;
}
.utensillos{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 2px solid beige;
    float:left;
    margin: 0 20px 20px 0;
    
}
.utensillos:hover{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 2px solid beige;
    float:left;
    margin: 0 20px 20px 0;
    transform: scaleX(-1);
}
/*.imagenDiferenciales{
    width: 60%;
}*/
.mapa {
    padding: 3em 0;
    
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}
.mapa iframe{
    margin-left: 20%;
}

.diferenciales{
    z-index: 3;
    width: 900px;
    margin-left: 15px;
    height: 300px;
    border:3px solid black;
    display: flex;
    justify-content: space-between;
    background: rgb(105, 96, 43);
    
}
.diferenciales h3{
    z-index: 2;
    position:absolute;
    margin-left:300px;
    text-align: center;
    font-size: 50px;
    color: blanchedalmond;
}
.diferenciales ul{
    z-index: 1;
    position:absolute;
    padding-left: 95px;
    font-size: 30px;
    color: beige;
}
.imagenDiferenciales{
    margin-top: 30px;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 2px solid beige;
    float:left;
    /*margin:0px 20px 20px 0px*/
    margin-right:50px;
    
    
} 
.diferenciales-1{
    display: flex;
    align-items: center;
}

/*FOOTER*/

.footer{
    box-sizing: border-box ;
    width: 100%;
    background-color:#3c3c3c ;
    /*text-align: center;
    background: url(imagenes/bg.jpg);
    padding: 40px;*/
    
}
.footer img{
    width: 90px;
    height: 90px;
}
/*.footer.grupo-1.box{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}*/
/*#a{
    margin-top:380px;
}*/
/*.titulo-centralizado{
    margin-right: 100px;
    width:500px;
}*/

.textoImagen{
    background: url(/Img/Pin_em_Barberia.jpg);
    background-size: cover;
    background-position: center;
    width: 1000px;
    height: 600px;
    display: flex;
    align-items: center;
    font-family:"Mr Dafoe", cursive;
    font-size: 64px;
    
}

.letraImagen{
    text-align: center;
    width: 50%;
    color: #f8f9f9;

}

.since{
    color: #f8f9f9;
    text-align: end;
}

.entrar{
    text-align: right;
}

.bodyInfo{
    background: #3c3c3c;
    
}
